.client-list {
	margin:0 110px;
	text-align:center;
	@include flexbox;
	@include justify-content(center);
	@include flex-wrap(wrap);
	
	li {
		width:20%;
		display:inline-block;
		//float:left;
		text-align:center;
		
		@include respond-to(mobile-portrait) {
			width:50%;
		}
		
		img {
			width:60%;
		}
	}
	
}