#mobile-menu {
	background:$c-gray;
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	z-index:999;
	display:none;
	//transform: translateY(-100%);
	border:none;
	
	
	
	nav {
		@include flexbox;
		@include flex-direction(column);
		height:100%;
		width:100%;
		
		a, button {
			@include flexbox;
			@include flex-direction(column);
			@include flex(1);
			@include justify-content(center);
			@include align-items(center);
			text-transform:uppercase;
			text-align:center;
			font-weight:normal;
			font:$g-font;
			    letter-spacing: .15em !important;
		}
	}
}

.hamburger {
	
	position:fixed;
	top:17px;
	left:18px;
	cursor:pointer;
	display:none;
	z-index:9999;
	
	@include respond-to(mobile) {
		display:block;
	}
	
	.bar {
	    width: 12px;
	    border-top: 1px solid #000000;
	    height: 1px;
	    margin-bottom: 3px;
	    display: block;
	}
}

.hamburger {
    position: absolute;
    right: 0;
    top: 0;
    left: auto;
    padding: 30px;
	border:none;
	background:none;
	@include opacity(.5);
	
	.bars {
		position:absolute;
		top:0;
		left:20px;
		//width:70px;
		height:60px;
		span:first-child {
			margin-top:20px;
		}
		span {
			width:20px;
			height:1px;
			margin-left:5px;
			background-color:$c-dark-gray;
		}
	}
	
	.close {
		position:absolute;
		top:0;
		left:15px;
		//width:70px;
		height:60px;
		display:none;
		
		span {
		    margin-top: 25px;
		    position: absolute;
			display:block;
			width:20px;
			height:1px;
			margin-left:5px;
			background-color:$c-dark-gray;
			-ms-transform: rotate(45deg); /* IE 9 */
		    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
		    transform: rotate(45deg);
		}
		
		span:last-child {
			-ms-transform: rotate(-45deg); /* IE 9 */
		    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
		    transform: rotate(-45deg);
		}
	}
	
}

.menu-open {
	
	#mobile-menu {
		@include flexbox;
	}
	
	
	.hamburger {
		@include opacity(1);
		.bars {
			display:none;
		}
		
		.close {
			display:block;
		}
		
	}
}