body, html {
	height:100%;
	-webkit-font-smoothing: antialiased;
}

body {
	background-color:$c-background;
	@include transition(background-color .8s)
  overflow-x:hidden;

}

.ui-page
{
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

canvas {
    image-rendering: crisp-edges;
}