.project {
	//background:$c-white;
}

.projects {
	.page-template {
		li {
			margin-bottom:$g-tb-margin * 2;
			float:left;
			
			h3 {
				float:left;
			}
			
			p {
				float:right;
				width:50%;
				width:calc(50% - $g-lr-margin);
				max-width:680px;
				
				@include respond-to(mobile-portrait) {
					width:100%;
				}
			}
			
			img {
				margin-bottom:1em;
			}
		}
	}
	
}

.projects-container {
	ul {
		
		@include flexbox;
		@include flex-wrap(wrap);
		@include justify-content(space-between);
		//width:100%;
		//padding:0 $g-lr-margin/2;
		
		li {
			margin-bottom:$g-tb-margin*2;
			float:left;
			width:calc(50% - 25px);
			
			@include respond-to(mobile-portrait) {
				width:100%;
			}
			
			&:hover {
				.read-more {
					@include opacity(1);
				}
			}
			
			h3 {
				margin-top:1em;
			}
			
			a.image-link {
				display:block;
			}
			img {
				width:100%;
				//margin-bottom:1em;
			}
		}
	}
}

.project-template {
	
	.hero-image {
		height:100vh;
		background-size:cover;
		background-position:center center;
	}
	
	.text {
		
		margin-bottom:$g-tb-margin*4;
		
		h1 {
			margin-bottom:1em;
			float:left;
			width:50%;
			width:calc(50% - 25px);
			
			@include respond-to(mobile-portrait) {
				width:100%;
			}
		}
		.description {
			max-width:680px;
			float:right;
			width:50%;
			width:calc(50% - 25px);
			
			@include respond-to(mobile-portrait) {
				width:100%;
			}
			
			p {
				
			}
			
			ul {
				margin-top:1em;
				li {
					@extend %uc;
				}
			}
			
		}	
	}
	
	figure {
		margin-bottom:$g-tb-margin*2;
		
		&:last-child {
			margin-bottom:0;
		}
	}
}

.other-projects {
	margin:0;
}

.other-project-container {
	width:calc(50% - 25px);
	
	@include respond-to(mobile-portrait) {
		width:100%;
	}
	
	&:hover {
		a {
			@include opacity(1);
		}
	}
	
	img {
		margin-bottom:1em;
	}
	
	&.prev {
		float:left;
	}
	
	&.next {
		float:right;
	}
}


.image-link {
	position:relative;
	display:block;
	
	&:after {
		@include transition($transition-duration opacity);
		content:' ';
		position:absolute;
		width:100%;
		top:0;
		left:0;
		height:100%;
		background:$c-background;
		@include opacity(0);
	}
	
	&:hover {
		&:after {
			@include opacity(.2);
		}
	}
	
}